@using Application.DTO.Response.Orders
@using Application.Service.Orders

@inject IServiceProvider serviceProvider
<AuthorizeView Policy="AdministrationPolicy">
    <div class="row">
        <div class="col-xlcol-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-warning">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-contentalign-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head">Ordered Products</p>
                            <h2 class="text-white">
                                $@AdminTotalAmountOfOrderedProduct.ToString("#,##0.00")

                            </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>

                    </div>
                    <h6 class="text-white">Gross products ordered</h6>
                </div>
            </div>

        </div>
        <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-danger">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head">Only Today</p>
                            <h2 class="text-white">
                                $ @AdminOnlyTodayOrderedProducts.ToString("#,##0.00")
                            </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                    </div>
                    <h6 class="text-white">@(ClientTodayOrdersPercentage.ToString("0.##")+"%") of gross orders only today</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-primary">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="lb-0 color-card-head"> Last Month</p>
                            <h2 class="text-white">
                                $ @AdminTotalAmountOfProductOrderedForLastMonth.ToString("#,##0.00")
                            </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
                    </div>
                    <h6 class="text-white">@(AdminLastMonthProductOrderedPercentageOverall.ToString("0.##")+"%") Since last month</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-success">
                <div class="card-body px-3 py-4">
                    <div class="d-flex-justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head" > Gross Product Quantities Ordered</p>
                            <h2 class="text-white">@AdminGrossProductQuantitiesOrdered</h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                    </div>
                    <h6 class="tedxt-white">@AdminTodayProductQuantitiesOrdered Only today</h6>
                </div>
            </div>
        </div>
        
    </div>
</AuthorizeView>


<AuthorizeView Policy="@Policy.UserPolicy">
    <div class="row">
        <div class="col-xlcol-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-warning">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-contentalign-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head">Ordered Products</p>
                            <h2 class="text-white">
                                $ @ClientTotalAmountOfOrderedProduct.ToString("#,##0.00")

                            </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>

                    </div>
                    <h6 class="text-white">Gross products ordered</h6>
                </div>
            </div>

        </div>
        <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-danger">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head">Only Today</p>
                            <h2 class="text-white">
                                $ @ClientOnlyTodayOrderedProducts.ToString("#,##0.00")
                            </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                    </div>
                    <h6 class="text-white">@(ClientTodayOrdersPercentage.ToString("0.##") + "%") of gross orders only today</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-primary">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="lb-0 color-card-head"> Last Month</p>
                            <h2 class="text-white">
                                $ @ClientTotalAmountOfProductOrderedForLastMonth.ToString("#,##0.00")
                            </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
                    </div>
                    <h6 class="text-white">@(ClientLastMonthProductOrderedPercentageOverall.ToString("0.##") + "%") Since last month</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-success">
                <div class="card-body px-3 py-4">
                    <div class="d-flex-justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head"> Gross Product Quantities Ordered</p>
                            <h2 class="text-white">@ClientGrossProductQuantitiesOrdered</h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                    </div>
                    <h6 class="tedxt-white">@ClientTodayProductQuantitiesOrdered Only today</h6>
                </div>
            </div>
        </div>

    </div>
</AuthorizeView>

@code {
    [CascadingParameter] public Task<AuthenticationState>? UserAuthState { get; set; }
    private IEnumerable<GetOrderResponseDTO> UserOrders = [];
    private IEnumerable<GetOrderResponseDTO> AdminOrders = [];
    ClaimsPrincipal? User;
    private decimal ClientTotalAmountOfOrderedProduct;
    private decimal ClientOnlyTodayOrderedProducts;
    private decimal ClientTodayOrdersPercentage;
    private int ClientGrossProductQuantitiesOrdered;
    private int ClientTodayProductQuantitiesOrdered;
    private decimal ClientTotalAmountOfProductOrderedForLastMonth;
    private decimal ClientLastMonthProductOrderedPercentageOverAll;

    private decimal AdminTotalAmountOfOrderedProduct;
    private decimal AdminOnlyTodayOrderedProducts;
    private decimal AdminTodayOrdersPercentage;
    private int AdminGrossProductQuantitiesOrdered;
    private int AdminTodayProductQuantitiesOrdered;
    private decimal AdminTotalAmountOfProductOrderedForLastMonth;
    private decimal AdminLastMonthProductOrderedPercentageOverAll;

    protected override async Task OnInitializedAsync()
    {
        await LoadDefaults();
    }
    async Task LoadDefaults()
    {
        try
        {
            User = (await UserAuthState!).User;
            if(User.Claims.FirstOrDefault(_ => _.Type == ClaimTypes.Role)!.Value.Equals("User", StringComparison.OrdinalIgnoreCase))
            {
                string userId = User.Claims.FirstOrDefault(_ => _.Type == ClaimTypes.NameIdentifier)!.Value;
                using var scope=serviceProvider.CreateScope();
                var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                UserOrders = (await mediator.Send(new GetOrdersByIdQuery(userId)));
                GetClientSections();


            }
            else if (User.Claims.FirstOrDefault(_=>_.Type==ClaimTypes.Role)!.Value.Equals("Admin",StringComparison.OrdinalIgnoreCase))
            {
                using var scope=serviceProvider.CreateScope();
                var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
                AdminOrders = (await mediator.Send(new GetAllOrdersQuery()));
                GetAdminSections();
            }
        }
        catch {}


    }
    void GetClientSections()
    {
        ClientTotalAmountOfOrderedProduct=UserOrders.Sum(_ =>_.TotalAmount);
        ClientOnlyTodayOrderedProducts = UserOrders.Where(_ => _.OrderedDate.Date == DateTime.Today).Sum(_ => _.TotalAmount);
        ClientTodayOrdersPercentage=(ClientOnlyTodayOrderedProducts/ClientTotalAmountOfOrderedProduct)*100;
        ClientGrossProductQuantitiesOrdered = UserOrders.Sum(_ => _.Quantity);
        ClientTodayProductQuantitiesOrdered=UserOrders.Where(_=>_.OrderedDate.Date==DateTime.Today.Date).Sum(_=>=.Quantity);
        ClientTotalAmountOfProductOrderedForLastMonth= UserOrders.Where(_=>_.OrderedDate.Date.AddMonths(-1)<DateTime.Today.AddMonths(0)).Sum(_=>_.TotalAmount);
        ClientLastMonthProductOrderedPercentageOverAll = (ClientTotalAmountOfProductOrderedForLastMonth / ClientTotalAmountOfOrderedProduct) * 100;

    }
    void GetAdminSections()
    {
        AdminTotalAmountOfOrderedProduct = AdminOrders.Sum(_ => _.TotalAmount);
        AdminOnlyTodayOrderedProducts = AdminOrders.Where(_ => _.OrderedDate.Date == DateTime.Today).Sum(_ => _.TotalAmount);
        AdminTodayOrdersPercentage = (AdminOnlyTodayOrderedProducts / AdminTotalAmountOfOrderedProduct) * 100;
        AdminGrossProductQuantitiesOrdered = AdminOrders.Sum(_ => _.Quantity);
        AdminTodayProductQuantitiesOrdered = AdminOrders.Where(_ => _.OrderedDate.Date == DateTime.Today.Date).Sum(_ =>=.Quantity);
        AdminTotalAmountOfProductOrderedForLastMonth = AdminOrders.Where(_ => _.OrderedDate.Date.AddMonths(-1) < DateTime.Today.AddMonths(0)).Sum(_ => _.TotalAmount);
        AdminLastMonthProductOrderedPercentageOverAll = (AdminTotalAmountOfProductOrderedForLastMonth / AdminTotalAmountOfOrderedProduct) * 100;

    }
}
